.btn-light {
  border-color: #e7e7e7;
}

.thumbnail {
  width: 8vw;
  max-width: 80px;
  height: 8vw;
  max-height: 80px;
  border-radius: 100%;
  background-size: cover;
}

.image {
  width: 8vw;
}

.product {

}

.quantity {
  width: 20vw;
}

.price {
  width: 10vw;
}
