<h1>My Orders</h1>
<table class="table table-bordered table-striped table-hover" [svData]="orders$ | async" #sv="svDataTable" [svRowsOnPage]="5">
  <thead>
    <tr>
      <th>
        <sv-default-sorter by="datePlaced">Date</sv-default-sorter>
      </th>
      <th>Products</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of sv.data">
      <td>{{ order.datePlaced | date}}</td>
      <td>
        <div *ngFor="let item of order.items">{{ item.quantity }} x {{ item.product.title }}</div>
      </td>
      <td>
        <div *ngFor="let item of order.items">{{ item.totalPrice | currency:'USD':true }}</div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
        <sv-bootstrap-paginator [rowsOnPageSet]="[5, 10, 25]"></sv-bootstrap-paginator>
      </td>
    </tr>
  </tfoot>
</table>
