/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

$primary-color: rgba(77, 175, 124, 1);
$primary-color-hover: rgba(46, 204, 113, 1);

body {
  padding-top: 100px;
  background-color:	#f7f7f7;
}

.container {
  width: 100vw;
  max-width: 1400px;
}

.navbar {
  background-color: white;
  border-bottom: 1px solid #e7e7e7;
}

.navbar-light .navbar-brand {
  color: $primary-color;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .show > .nav-link,
.dropdown-item,
a,
a:not([href]):not([tabindex]) {
  cursor: pointer;
  color: $primary-color;
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.dropdown-item:hover,
a:hover,
a:not([href]):not([tabindex]):hover {
  color: $primary-color-hover;
}

.dropdown-item:focus,
a:not([href]):not([tabindex]):focus {
  color: $primary-color-hover;
  background-color: #f7f7f7;
}

.btn-custom:hover {
  color: white;
  background-color: $primary-color-hover;
  border-color: $primary-color-hover;
}

.btn-custom,
.btn-custom.disabled,
.btn-custom:disabled,
.list-group-item.active,
.page-item.active .page-link,
.page-item.active .page-link:hover {
  color: white;
  background-color: $primary-color;
  border-color: $primary-color;
}

.form-control:focus {
  border-color: $primary-color;
  box-shadow: 0 0 2px $primary-color;
}
